<div class="card">
    <div class="card-header bg-primary">
        <h2>New Task</h2>
    </div>
    <div class="card-body">
        <%= render 'form', task: @task %>
    </div>
</div>
<br>

<%= link_to 'Back', tasks_path , class:"btn btn-secondary"%>
